<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PicoCss CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <a href="/">
            <li>HOME</li>
          </a>
        </ul>
        <ul>
          <li>berlinstartupjobs.com</li>
          <li>web3.career</li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>직종을 입력하세요</h1>
      <h4>
        berlinstartupjobs.com, web3.career 에서 스크래핑 결과를 확인할 수
        있습니다.
      </h4>
      <form action="/search">
        <input type="text" placeholder="직종을 입력해 주세요" name="keyword" />
        <button>검색하기</button>
      </form>
    </main>
  </body>
  <footer class="container">copyright @ ynu</footer>
</html>
